body {
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--primary);
}

.heading {
    background-color: blue;
}