body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: var(--gray-900);
    color: var(--text-default);
}

.container {
    max-width: 98rem;   
    margin: auto;
}

.content {
    margin: 3.2rem;
    text-align: center;
}