.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.2rem;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary);
  gap: 0.4rem;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%);
  /* color: var(--link-hover); */
}


.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}