.button {
  margin: 4.8rem 0;
  border: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 27rem;
  padding: .8rem;
  border: .8rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  filter: brightness(80%);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}


.red {
  background-color: var(--error);
  color: var(--text-over-primary);
}
